<h1>Diff <a href="<%= r(:show, @sha, @name) %>"><%= h(@sha) %></a> to <a href="<%= r(@name) %>"><%= h(@name) %></a></h1>

<div class="uv_select">
  <b>Style select</b>
  <% current = session[:uv_style]
    @styles.each do |style| %>
    <br />
    <% if current == style %>
      <%= h(style) %>
    <% else %>
      <a href="?uv_style=<%= h(style) %>"><%= h(style) %></a>
    <% end %>
  <% end %>
</div>

<div class="diff">
  <%= @text %>
</div>
