%h1
  = l('Edit', @title.dump)

%form{:action => r(:save), :method => :post}
  %input{:type => :hidden, :name => :name, :value => @name}
  %fieldset
    %legend= l 'Edit'
    %label{:for => :form_text}= l('Text') + ':'
    %textarea{:name => :text, :id => :form_text}~ @text
    %label{:for => :form_comment}= l('Comment') + ':'
    %input{:type => :text, :name => :comment, :value => l('Update', @name), :id => :form_comment}
    %input{:type => :submit, :class => :submit, :value => l('Save')}

%form{:action => r(:move, @name), :method => :post}
  %fieldset
    %legend= l('Move')
    %label{:for => :form_move}= l('Move to different page') + ':'
    %input{:type => :input, :name => :move, :id => :form_move, :value => @name}
    %input{:type => :submit, :class => :submit, :value => l('Move')}
