.mod
  %b= l('Control') + ':'
  - if @page and @page.exists?
    %a{:href => r(:edit,    @name)}= l('Edit')
    %a{:href => r(:delete,  @name)}= l('Delete')
    %a{:href => r(:history, @name)}= l('History')
  - elsif @name
    %a{:href => r(:edit, @name)}= l('Create')

%h1
  = l('History of')
  %a{:href => r(@name)}= h(@name)

.history
  %table
    %tr
      %td= l('Message')
      %td= l('Author')
      %td= l('Date')
      %td= l('Action')
    - @history.each_with_index do |log, idx|
      - current = idx == 0
      - style = current ? 'current' : 'old'
      %tr{:class => style}
        %td= h log.message
        %td= h log.author.name
        %td= h log.date
        %td
          - unless current
            %a{:href => r(:diff, log.objectish, @name)}= l('Diff')
          %a{:href => r(:show, log.objectish, @name)}= l('Show')
