<div class="mod">
  <% if @page and @page.exists? %>
    <a href="<%= r(:history, @name) %>">History</a>
    <% if logged_in? %>
      <a href="<%= r(:edit, @name) %>">Edit</a>
      <a href="<%= r(:move, @name) %>">Move</a>
      <a href="<%= r(:delete, @name) %>">Delete</a>
    <% end %>
  <% elsif @name and logged_in? %>
    <a href="<%= r(:edit, @name) %>">Create</a>
  <% end %>
</div>

<div class="toc">
  <b>Table of Contents</b>
  <%= @toc %>
</div>
<div class="text">
  <%= @html %>
</div>
