.mod
  %b= l('Control') + ':'
  - if @page and @page.exists?
    %a{:href => r(:edit, @name)}= l('Edit')
    %a{:href => r(:delete, @name)}= l('Delete')
    %a{:href => r(:history, @name)}= l('History')
  - elsif @name
    %a{:href => r(:edit, @name)}= l('Create')

.toc
  %b= l('Table of Contents')
  ~ @toc
.text~ @html
