.mod
  %b= l('Control') + ':'
  - if @page and @page.exists?
    %a{:href => r(:history, @name)}= l('History')
    - if logged_in?
      %a{:href => r(:edit, @name)}= l('Edit')
      %a{:href => r(:delete, @name)}= l('Delete')
  - elsif @name
    - if logged_in?
      %a{:href => r(:edit, @name)}= l('Create')

.toc
  %b= l('Table of Contents')
  ~ @toc
.text~ @html
